.card-container {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    position: relative; /* Set container position to relative */
    margin-top: 100px;
}

.Introduction,
.Plans {
    width: 380px;
    height: 50vh;
    border-radius: 3vh;
    border-width: .3vh;
    border-style: solid;
    border-color: white;
    background-color: #171a27;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 10px; /* Add margin between the cards */
}

.introtext {
    color: rgb(73, 230, 120);
    font-size: clamp(1vh, 3vh, 6vh);
    font-family: Komyca3D;
}

.introdescription {
    color: rgb(241, 241, 241);
    font-size: clamp(1vh, 2vh, 3vh);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

/* Media query for smaller devices */
@media screen and (max-width: 767px) {
    .card-container {
        flex-direction: column;
        align-items: center; /* Center the cards vertically */
    }

    .Introduction,
    .Plans {
        width: 100%;
        margin: 10px 0; /* Adjust margin for smaller screens */
    }
}
